.notification-group {
  z-index: 12;
  position: absolute;
  transform: translate(-50%, -10vh);
  display: flex;
  left: 50%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

p, div, span, li {
  font-family: 'IBM Plex Sans', sans-serif;
}